@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@300;400;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
font-family:'Poppins',sans-serif;

background:linear-gradient(135deg,#fef3ff,#edd7ff,#e9d5ff);
}

/* Floating Background */

.bg-hearts{
position:absolute;
inset:0;
overflow:hidden;
}

.bg-hearts::before{

content:"💜 💖 🌸 ✨ 🩷 💜";

position:absolute;

font-size:28px;

left:-30%;

top:45%;

animation:move 18s linear infinite;

opacity:.3;

}

@keyframes move{

from{
transform:translateX(-20%);
}

to{
transform:translateX(150%);
}

}

.container{

position:relative;

z-index:10;

}

/* Envelope */

.envelope{

position:relative;

width:340px;

height:230px;

background:#f8d9ff;

border-radius:14px;

box-shadow:0 20px 45px rgba(0,0,0,.15);

overflow:hidden;

cursor:pointer;

transition:.5s;

}

.envelope:hover{

transform:translateY(-6px);

}

.top{

position:absolute;

width:100%;

height:120px;

background:#d997ff;

clip-path:polygon(0 0,100% 0,50% 100%);

z-index:3;

transition:.8s;

transform-origin:top;

}

.letter{

position:absolute;

left:50%;

top:55%;

transform:translate(-50%,-50%);

width:88%;

background:white;

padding:22px;

border-radius:10px;

text-align:center;

box-shadow:0 8px 18px rgba(0,0,0,.08);

transition:.8s;

}

.letter h1{

font-size:30px;

font-family:'Patrick Hand',cursive;

color:#9747ff;

margin-bottom:12px;

}

.letter p{

font-size:18px;

margin-bottom:22px;

color:#666;

}

button{

padding:14px 30px;

border:none;

background:#b46cff;

color:white;

border-radius:50px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

background:#a24eff;

}

/* OPEN */

.envelope.open .top{

transform:rotateX(180deg);

}

.envelope.open .letter{

transform:translate(-50%,-120%);

}
